<!DOCTYPE html>
<html>
  <head>
    <title>Red Social</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'publicaciones' %}">Publicaciones</a>
          </li>
          <li><a href="{% url 'nueva_publicacion' %}">Nueva publicación</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
